/* 弹出框css修改 */
.thisDiv {
    max-height: 800px;
    min-height: 600px;
    overflow-x:hidden;
    overflow-y:scroll;
    padding:10px 20px;
}

.mui-popup-text {
    position: relative;
}

.login {
    .mui-content {
        padding-left: 50px;
        padding-right: 50px;

        .title {
            font-size: 50px;
            font-family: PingFang SC;
            font-weight: 500;
            color: rgba(51, 51, 51, 1);
            margin: 70px 0;
        }

        #loginUp{
            padding-top:40px;
        }
        .mui-input-group:before {
            height: 0;
        }

        .mui-input-group:after {
            height: 0;
        }

        .mui-input-group .mui-input-row {
            height: 114px;

            &:after {
                height: 0;
            }

            label {
                width: 0;
                padding: 0;
                overflow: hidden;
            }

            label~input {
                width: 100%;
                padding: 41px 0;
                height: 114px;
                float: left;
                border-bottom:1px solid #cccccc;
                &::-webkit-input-placeholder {
                    font-size: 30px;
                    font-family: PingFang SC;
                    font-weight: 500;
                    color: rgba(204, 204, 204, 1);
                }
                &.lyf-input-code{
                    width: 380px;
                    &~.lyf-clear{
                        left:350px;
                    }
                }
            }

            .mui-input-password~.mui-icon-eye {
                top: 41px;
                width: 34px;
                height: auto;
                font-size: 34px;
            }

            img.lyf-icon {
                position: absolute;
                z-index: 1;
                top: 40px;
                right: 0;
                width: 30px;
                height: 30px;
                text-align: center;

                &.lyf-password {
                    top: 45px;
                    width: 34px;
                    height: 22px;
                }
            }
            
            img.lyf-clear-offset.lyf-icon {
                right: 50px;
            }

            .lyf-hidden {
                display: none;
            }
            .btn-code{
                width:220px;
                height:60px;
                background:rgba(255,255,255,1);
                border-color:#0072FF;
                border-radius:10px;
                padding: 0;
                margin-top:28px;
                line-height: unset;
                font-size:28px;
                font-family:PingFang SC;
                font-weight:500;
                color:#0072FF;
                margin-left: 35px;
                &.disabled{
                    border-color:#ccc;
                    color:#ccc;
                }
            }
        }

        .mui-text-row {
            margin: 70px 0 40px 0;
            font-size: 24px;
            font-family: PingFang SC;
            font-weight: 500;
            color: rgba(153, 153, 153, 1);

            span {
                color: #0072ff;
            }
        }

        .mui-button-row {
            height: 100px;
            padding: 0;

            .mui-btn-primary {
                width: 650px;
                height: 100px;
                background: rgba(178, 213, 255, 1);
                border-radius: 50px;
                border: 0;
                padding: 0;
            }

            .lyf-able {
                background: rgba(0, 114, 255, 1);
            }
        }

        .loginBottom {
            font-size: 28px;
            font-family: PingFang SC;
            font-weight: 500;
            color: rgba(0, 114, 255, 1);
            margin-top: 40px;

            .loginBottomLeft {
                float: left;
            }

            .loginBottomRight {
                float: right;
            }
        }
    }
}